.header {
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #e0e0e0;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  align-items: center;
}

.brand-logo {
  width: 75px;
  height: auto;
}

.spacer {
  flex: 1;
}

nav {
  display: flex;
  align-items: center;
  gap: 14px;
}

.login {
  color: red;
}

 .nav-link-register{
   border-radius: 10px;
   padding: 8px;
   background-color: #2C2C2C;
   color: white;
   text-decoration: none;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
}

 .nav-link-login {
  background-color: #E3E3E3;
   padding: 8px;
   border-radius: 10px;
   border: 1px solid #767676;

 }

.nav-link,  .nav-link-login {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.3s ease;

  &:hover {
    color: #007bff;
  }
}
