<mat-toolbar class="header mat-elevation-z4">
  <a href="/dashboard" class="logo-link">
    <img src="assets/images/logo.png" alt="Logo" class="brand-logo">
  </a>

  <span class="spacer"></span>

  <nav>
    <a mat-button href="/products" class="nav-link">Products</a>
    <a mat-button href="/solutions" class="nav-link">Tasks</a>
    <a mat-button href="/community" class="nav-link">Projects</a>
    <a mat-button href="/resources" class="nav-link">Dashboard</a>
    <a mat-button href="/pricing" class="nav-link">Pricing</a>

    <ng-container *ngIf="!isLogged">
      <a mat-button href="/login" class="nav-link-login">Sign In</a>
      <a mat-button href="/register" class="nav-link-register">Register</a>
    </ng-container>

    <!-- Logged-in -->
    <app-user-dropdown *ngIf="isLogged" (logoutEvent)="logout()"></app-user-dropdown>
  </nav>
</mat-toolbar>
