<div class="card activity-card">
  <h2>Recent Activity</h2>
  <div class="activity-list">
    <div class="activity-item" *ngFor="let activity of activities">
      <div class="activity-icon" [ngClass]="getActivityType(activity)">
        <mat-icon>{{ getActivityIcon(activity) }}</mat-icon>
      </div>
      <div class="activity-details">
        <p class="activity-text">{{ activity.text }}</p>
        <span class="activity-time">{{ activity.time }}</span>
      </div>
    </div>
  </div>
</div>
