<app-header></app-header>

<div class="container">
  <!-- Error Message -->
  <div *ngIf="errorMessage" class="alert error-message">
    {{ errorMessage }}
  </div>

  <!-- Projects Section -->
  <h5 class="projects-heading">Projects</h5>
  <a class="waves-effect waves-light btn right blue white-text pd10 button-margin" href="/add-project">+ Add new project</a>
  <a class="waves-effect waves-light btn right white black-text button-margin">Delete</a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>

  <!-- Table Header -->
  <h5 class="center-align blue-text">List of Projects</h5>

  <!-- Projects Table -->
  <table class="highlight responsive-table thin-lines-table">
    <thead>
    <tr>
      <th>
        <label>
          <input type="checkbox" (change)="toggleSelectAll($event)" />
          <span></span>
        </label>
      </th>
      <th>PROJECTS</th>
      <th>STATUS</th>
      <th>COMMENTS</th>
      <th>TIME STARTED</th>
      <th>DEADLINE</th>
      <th>ACTIONS</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of ownedProjects">
      <td>
        <label>
          <input type="checkbox" [(ngModel)]="project.selected" />
          <span></span>
        </label>
      </td>
      <td>{{ project.name }}</td>
      <td>{{ project.status || 'N/A' }}</td>
      <td>{{ project.description || 'No comments' }}</td>
      <td>{{ project.createdAt | date:'medium' }}</td>
      <td>
        <!-- Handle deadline with a conditional check -->
        <ng-container *ngIf="project.deadline; else noDeadline">
          {{ project.deadline | date:'medium' }}
        </ng-container>
        <ng-template #noDeadline>
          No deadline set
        </ng-template>
      </td>
      <td>
        <a class="edit-delete-icon" (click)="deleteProject(project.id)">
          <img class="buttons a1" src="assets/images/recycle-bin.png" alt="Delete" />
        </a>
        <a class="edit-delete-icon" (click)="startEdit(project)">
          <img class="buttons" src="assets/images/edit.png" alt="Edit" />
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Bulk Actions -->
  <div class="row" *ngIf="selectedProjects.length > 0">
    <div class="col s12">
      <button class="btn waves-effect waves-light red button-margin" (click)="deleteSelectedProjects()">
        <i class="material-icons left">delete</i>Delete Selected
      </button>
    </div>
  </div>
</div>
