.buttons {
  width: 17px;
  height: auto;
  cursor: pointer;
}

.a1 {
  margin-right: 10px;
}

.container {
  margin-top: 40px;
}

.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.error-message {
  background-color: #ffebee;
  color: #c62828;
}

.project-section {
  margin-top: 30px;
}



.projects-heading {
  margin-top: 100px;
  font-size: 1.8rem;
}

.button-margin {
  margin-left: 10px;
  border-radius: 10px;
}

.thin-lines-table th, .thin-lines-table td {
  padding: 10px;
}



.thin-lines-table td {
  font-size: 14px;
}

.thin-lines-table th {
  font-size: 16px;
}

.btn-floating img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  object-fit: contain;
}

.btn-floating {
  background-color: transparent;
  border: none;
  padding: 0;
}
.no-projects-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #666;
}

.no-projects-message a {
  color: #2196F3;
  text-decoration: none;
}

.no-projects-message a:hover {
  text-decoration: underline;
}
