.container {
  padding: 80px 200px 20px 200px; /*top, left, bottom, right*/
  background-color: white;
}

.transparent-backdrop {
  background-color: rgba(218, 8, 8, 0.5);
}

.error-message {
  background-color: #ffebee;
  color: #c62828;
  padding: 10px;
  margin-bottom: 20px;
}

.projects-heading {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.right {
  margin-left: 10px;
}

.center-align {
  text-align: center;
}

.blue-text {
  color: #3f51b5;
}

.mat-elevation-z8 {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  background-color: white;
  border-bottom: 2px solid #F0F0F2;
  border-right: 2px solid #F0F0F2;
  border-left: 2px solid #F0F0F2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-group {
  display: flex;
  gap: 16px;

}

.button-group button {
  padding: 0 16px;
  font-size: 14px;
  box-shadow: none !important;
}

.add-button, .delete-button {
  border-radius: 10px;
  border: 1px solid #767676;
}

.add-button {
  background-color: #4A3AFF !important;
  color: white !important;

}

.delete-button {
  color: black !important;

}
mat-card {
  background-color: white !important;
  box-shadow: none !important;
}
.table-caption {
  color: #4A3AFF;
  background-color: #fbfbff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  border-top: 2px solid #F0F0F2;
  border-right: 2px solid #F0F0F2;
  border-left: 2px solid #F0F0F2;

}


.bottom-text{
  margin-top: 20px;
}

.undertext, .header-row{
  color: #9291A5;
}


.workspace-invite-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.workspace-selection {
  flex: 1;
}

.invite-button{
  margin-bottom: 20px;
}

.primary {
  background-color: #4A3AFF !important;
  color: white !important;
  border-radius: 10px;
  border: 1px solid #767676;
}

.invite-user-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.invite-user-form h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  color: #4A3AFF;
}

.invite-user-form mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.invite-user-form textarea {
  min-height: 100px;
}

.invite-user-form button[type="submit"] {
  color: black;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  box-shadow: none !important;
  border: 1px solid #767676;
  align-items: center;
}
