<section class="testimonials">
  <h2 class="section-title">What Our Clients Say</h2>
  <p class="section-subtitle">Discover how our solutions have transformed businesses and delighted users worldwide</p>

  <div class="testimonial-row row-offset-left">
    <div class="testimonial" *ngFor="let testimonial of testimonialRows[0]">
      <mat-icon class="quote-icon">format_quote</mat-icon>
      <p class="quote">{{testimonial.quote}}</p>
      <p class="author">{{testimonial.author.split(',')[0]}}</p>
      <span class="author-title">{{testimonial.author.split(',')[1]}}</span>
      <div class="rating">★★★★★</div>
      <div class="tag">Customer Experience</div>
    </div>
  </div>

  <div class="testimonial-row row-offset-right">
    <div class="testimonial" *ngFor="let testimonial of testimonialRows[1]">
      <mat-icon class="quote-icon">format_quote</mat-icon>
      <p class="quote">{{testimonial.quote}}</p>
      <p class="author">{{testimonial.author.split(',')[0]}}</p>
      <span class="author-title">{{testimonial.author.split(',')[1]}}</span>
      <div class="rating">★★★★★</div>
      <div class="tag">Productivity</div>
    </div>
  </div>

  <div class="testimonial-row row-offset-left">
    <div class="testimonial" *ngFor="let testimonial of testimonialRows[2]">
      <mat-icon class="quote-icon">format_quote</mat-icon>
      <p class="quote">{{testimonial.quote}}</p>
      <p class="author">{{testimonial.author.split(',')[0]}}</p>
      <span class="author-title">{{testimonial.author.split(',')[1]}}</span>
      <div class="rating">★★★★★</div>
      <div class="tag">Innovation</div>
    </div>
  </div>
</section>
