<li class="dropdown">
  <a href="#" class="dropdown-trigger black-text" (click)="toggleDropdown($event)">
    <img [src]="avatarUrl" alt="User Avatar" class="avatar-icon">
  </a>

  <ul #dropdownMenu class="dropdown-content white" [class.show]="isDropdownOpen">
    <li><a [routerLink]="['/user', userId]" class="black-text">Profile</a></li>
    <li><a href="/settings" class="black-text">Settings</a></li>
    <li class="divider"></li>
    <li><a (click)="logout()" class="black-text">Logout</a></li>
  </ul>
</li>
