

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  --blue-button-color: #4A3AFF;
  --main-color-light: #fbfbff;
  --grey-text-color: #9291A5;
  --border-color: #F0F0F2;
}
