.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
}


.main-content {
  display: flex;
  gap: 20px;
  height: calc(100vh - 160px);
}

.left-column {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}


.red-border {
  border: 2px solid red;
  border-radius: 5px;
  padding: 15px;
}

h2, h3 {
  margin-top: 0;
}
